In [ ]:

#variable and print
a=5
print("i am",a,"year old")

i am 5 year old

operators

In [ ]:
#arthmetic
a=10
b=20
print(a+b)

30

In [ ]:
#power
a=2
b=3
print(2**3)

8

In [ ]:
#floor division
a=5
print(a//2)

2

In [ ]:
#relational
a=5
b=7
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a!=b)

True
False
True
False
True

In [ ]:
#logical
a=5
b=55
print((a>b and a<b))
print((a>b or a<b))

False
True

In [ ]:
#membership
a="pirate"
print("a"in a)
print("p"in a)

True
True

In [ ]:
#coditional
#write a program to get a number from user whether it is positive or negative
a=int(input("enter a"))
if(a>0):
  print(a,"is positive")
else:
  print(a,"is negative")

enter a4
4 is positive

In [ ]:
#elif
a=int(input("enter a value"))
if(a>0):
  print(a,"is positive")
elif(a<0):
  print(a,"is negative")
else:
  print("neither positive nor negative")

enter a value0
neither positive nor negative

In [ ]:
n=4
for i in range(1,11,1):
  a=n*i
  print(a)

4
8
12
16
20
24
28
32
36
40

type casting

In [ ]:
a=12.5
b=2
print(int(a*b))

25

In [ ]:
a="45"
a=int(a)
print((type(a)))

<class 'int'>

In [ ]:
#while loop
n=int(input("enter value for 5 table"))
i=0
while(i<=n):
  print("5 *",i,"=",5*i)
  i=i+1

enter value for 5 table5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [ ]:
#while
a=int(input("enter a value"))
n=int(input("enter value for 6 table step"))
i=1
while(i<=n):
  print("6 *",i,"=",6*i)
  i=i+1

enter a value6
enter value for 6 table step12
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72

collection
list:is the collection of heterogenous data values->list is mutable

In [ ]:
l=[6,"sri vasavi","a",56.78] #list
for i in l: #iteration printing
  print(i)

6
sri vasavi
a
56.78

In [ ]:
l=["kiran","sri vasavi",100] #list
l.append(35)
l.insert(2,"bye")
for i in l:
  print(i)
  print(1)

kiran
1
sri vasavi
1
bye
1
100
1
35
1

In [ ]:

l=["kiran","sri vasavi",100] #list
l2=["cse","g.block",3456]
l.extend(l2)
print(l)

['kiran', 'sri vasavi', 100, 'cse', 'g.block', 3456]

In [ ]:
l=['kiran','sri vasavi',100,'cse','g.block',7766]
l.pop()
print(l)

['kiran', 'sri vasavi', 100, 'cse', 'g.block']

In [ ]:
l1=["kohli","rohit","dhoni","padey"]
l1.append(4)
print(l1)
l1.pop(2)
print(l1)

['kohli', 'rohit', 'dhoni', 'padey', 4]
['kohli', 'rohit', 'padey', 4]

list comprehension

In [ ]:
l3=[8,9,64]
l2=[i for i in l3 if i**0.5 in l3]
print(l2)

[64]

In [ ]:
l4=[int(i)**2 for i in l3 if i>50]
print(l4)

[4096]


#using if else in list coprehension
#syntax:list=[(body of if)]if codition else (body of else)for i in range()]

In [ ]:
#the salaries of 5employee in a company is taken as a list.the tax is 10% otherwise it is 15%
sal=[67000,45000,89000,34000,50000]
tax=[]
for i in sal:
  if i<=50000:
   t=i*0.1
   tax.append(t)
  else:
    t=i*0.15
    tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]